{% extends "core/base.html" %}
{% load static %}
{% block main-content %}
    <div class="mt-5">
        <div class="text-center">
            <img src="{% static "core/images/pic1.jpg" %}" alt="profile-pic" class="img-thumnail" width="300px" height="300px">
        </div>
        <div class="text-white mt-5 mx-5 text-justify">
            <h1 class="font-weight-bold st-font">Hello,</h1>
            <div class="px-4" style="line-height:2rem;">
                <p style="text-indent:150px;"> 
                    I am <b class="text-warning st-font">Ayush Yadav</b>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum deserunt, voluptatem distinctio culpa sed, labore vel quam facilis neque eos modi debitis? Earum nulla veniam repellendus quisquam nemo consequuntur dignissimos praesentium eaque voluptatum.
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repudiandae eveniet ducimus nisi inventore blanditiis explicabo nesciunt. Necessitatibus, pariatur. Cum magni dicta est maxime eaque placeat voluptatibus nostrum voluptatem, esse illum iusto doloremque explicabo. Est earum corrupti blanditiis accusantium, veritatis culpa minus itaque, 
                </p>
                <p>
                    labore natus rem, pariatur iure. Dignissimos nihil fugiat ducimus odio a, quae iusto recusandae voluptate commodi aperiam excepturi amet hic sit illo laboriosam numquam ab tempore? Libero voluptatibus quibusdam saepe quam praesentium odit repellat, possimus mollitia nobis ipsum! Consequatur dolor, tempora perspiciatis officiis labore expedita modi voluptate voluptatem ipsa laborum eveniet eos dignissimos maxime natus delectus numquam officia!
                </p>
            </div>
        </div>
        <div class="text-center">
            <a href="{% url "contact" %}" class="btn btn-outline-warning my-3 mr-5">Hire Me</a>
            <a href="{% url "contact" %}" class="btn btn-outline-warning my-3">Contact Me</a>
        </div>

        
    </div>
    

{% endblock main-content %}