{% extends "core/base.html" %}
{% block main-content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
        {% comment %} first row {% endcomment %}
        <div class="row text-white text-center mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-magnifying-glass-dollar fa-4x mb-3 i-colo"></i>
                <h3>SEO</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
            <div class="col-sm-4">
                <i class=" i-colo fa-solid fa-palette fa-4x mb-3 i-colo"></i>
                <h3>Web Design</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-code fa-4x mb-3 i-colo"></i>
                <h3>Web Development</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
        </div>
        {% comment %} second row {% endcomment %}
        <div class="row text-white text-center mb-5">
            <div class="col-sm-4">
                <i class=" fab fa-solid fa-android fa-4x mb-3 i-colo"></i>
                <h3>Android</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
            <div class="col-sm-4">
                <i class="fab fa-solid fa-apple fa-4x mb-3 i-colo"></i>
                <h3>iOS</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-ad fa-4x mb-3 i-colo"></i>
                <h3>Advertising</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
        </div>
        {% comment %} third row {% endcomment %}
        <div class="row text-white text-center mb-5">
            <div class="col-sm-4">
                <i class="fa-solid fa-pencil fa-4x mb-3 i-colo"></i>
                <h3>Logo Designing</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
            <div class="col-sm-4">
                <i class=" i-colo fa-solid fa-database fa-4x mb-3 i-colo"></i>
                <h3>Hosting</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
            <div class="col-sm-4">
                <i class="fa-solid fa-headset fa-4x mb-3 i-colo"></i>
                <h3>Support</h3>
                <p class="ss-colo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam quo vitae recusandae.</p>
            </div>
        </div>
    </div>
{% endblock main-content %}