.st-font  {
    font-family: cursive;
    font-weight: 400;
    font-style: normal;
}

html,body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

/* services icon color */
.i-colo {
    color:teal;
}

/* service subtitile color */
.ss-colo {
    color:burlywood;
}