.st-font  {
    font-family: cursive;
    font-weight: 400;
    font-style: normal;
}

html,body{
    height: 100%;
}

.container-fluid{
    min-height: 100%;
}

/* services icon color */
.i-colo {
    color:teal;
}

/* service subtitile color */
.ss-colo {
    color:burlywood;
}

.nav-link{
    color:teal;
}
.nav-link:hover{
    color:white;
    background-color: #e9cd79;
}
a.nav-link.active{
    color:white;
    background-color: #ffc107;
    font-weight: bold;
}
.btn{
    background-color: teal;
    border-color: white ;
}

.btn:hover{
    background-color: white;
    color:teal;
    font-weight: 400;
}