{% extends "core/base.html" %}
{% block main-content %}
    <div class="container mt-5">
        <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">HTML/CSS</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" arial-valuenow="100" arial-valuemin="0" arial-valuemax="100">100%</div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Java-Script</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:95%" arial-valuenow="95" arial-valuemin="0" arial-valuemax="100">95%</div>
                </div>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">Java Programming</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:85%" arial-valuenow="100" arial-valuemin="0" arial-valuemax="100">85%</div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Python</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:90%" arial-valuenow="90" arial-valuemin="0" arial-valuemax="100">90%</div>
                </div>
            </div>
        </div>
        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">SQL</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:97%" arial-valuenow="97" arial-valuemin="0" arial-valuemax="100">97%</div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Django</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:100%" arial-valuenow="95" arial-valuemin="0" arial-valuemax="100">100%</div>
                </div>
            </div>
        </div>

        <div class="row text-white">
            <div class="col-sm-5">
                <h3 class="mt-5">Data Analytics</h3>
                <div class="progress">
                    <div class="progress-bar bg-blue progress-bar-striped progress-bar-animated" role="progressbar" style="width:88%" arial-valuenow="88" arial-valuemin="0" arial-valuemax="100">88%</div>
                </div>
            </div>
            <div class="col-sm-5 offset-sm-2">
                <h3 class="mt-5">Drart</h3>
                <div class="progress">
                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" role="progressbar" style="width:10%" arial-valuenow="10" arial-valuemin="0" arial-valuemax="100">75%</div>
                </div>
            </div>
        </div>
    </div>


{% endblock main-content %}